@media screen and (min-width: 40rem){
    #button{display: none;}
    #headerdesign, footer{
        max-width: 98%;
        margin: 0rem auto;
        background-color: #fbfdfb;
    }
    nav a{
        border-radius: 3px;
        display: block;
        color: #fd0101f8;
        background-color: #03a140;
        border: 1px solid rgb(0, 0, 0);
    }
    .horizontal, .horizontal.open{
        display: flex;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    main{
        max-width: 83%;
    }
    .section-3{
        padding: 0.4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;   
    }
    .join{
        position: absolute;
        top: 13rem;
        left: 18rem ;

    }
    .event-weather{
        padding: 0.4rem;
        display: flex;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* Discoery Css */
    .main{
        border: 1px solid rgb(73, 49, 49);
        display: grid;
        grid-template-columns: 1.5fr 3fr;
        text-align: center;
    }
    main h2, main p{
        text-align: center;
    }
    .side-bar{
        display: grid;
        grid-template-columns: 1fr;
    
        background-color: white;
    }
    .side-bar img{
        width: 100%;
        height: 400px;
    }
    .side-bar img, .side-bar h3, .side-bar p{
        margin: 0.1rem auto;
        padding: 0.2rem;
    }
    .sided{
        padding: 0.5rem;
        background-color: hsl(143, 10%, 64%);
    }
    .sided h3{
        position: absolute;
        justify-content: end;
        left: 100px;
        top: 10px;
        color: rgb(9, 255, 0);
    }
    .side-bar p{
        padding: 2px;
    }
    img:hover {box-shadow: 0 0 50px #333;}
}
