* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a1aff063;
    font-family: 'Roboto', sans-serif;
}

header, footer, main, nav{
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #f1d7d5d5; 
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
header img {
    border-radius: 20px;
}
header span {
    font-size: 40px;
    margin: auto;
    text-align: center;
}

#mode, #normal {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}
#normal{
    font-size: larger;
    background-color: #f1d7d5d5;
    top: 1.0rem;
    right: 4rem;
    margin: 0.5rem;
    border-radius: 10px;
}
.image{
    width: 26px;
}

a{
    text-decoration: none;
}
/* Navigation css is here */
 nav{
    border: 1px solid #ffffff;
    display: block;
    text-decoration: none;
}

nav a{
    text-align: center;
    margin: 0.10rem;
    color: white;
    border-radius: 5px;
}
nav a:hover{
    background-color: rgb(235, 188, 181);
}

#button::before {
    content: "☰";
}
/* button  resize and other decoration added*/
#button {
    font-size: 1.75rem;
    border: none;
    background-color: #f1d7d5d5;
    cursor: pointer;
    width: 100%;
    text-align: right;
    top: right;
}
.name{
    display: block;
    text-decoration: none;
    background-color: rgb(29, 26, 26);
    padding: 1rem;
}
.list{
    display: block;
    text-decoration: none;
    background-color: rgba(204, 78, 78, 0.377);
    padding: 1rem;
}

ul{
    list-style: none;
}

/* display in the ul by the class attribute to hide it */
.horizontal-ul{
    display: none;
}

/* displaying the nav ul in block */
.horizontal-ul.open{
    display: block;
}
#button.open::before{
    content: "X";
}/*Navigaton editing ends here */

h2, h1{
    text-align: center;
}
h2{
    background-color: rgba(241, 161, 161, 0.377);
    border-radius: 10px;
}

.card {
    margin: 2rem 4vw;
    border-radius: 10px;
}
footer{
    text-align: center;
}
.naija{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: -3px;
}
.insta{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: -3px;
}

