@media screen and (min-width: 35rem) {
    
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .section{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    section{
        box-shadow: 2px 2px 10px black;
    }
    .horizontal-ul{
        display: flex;
        justify-content:space-evenly;
    }
    .horizontal-ul ul{
        padding: 10px 20px;
    }
    section:hover{
        background-color: rgb(202, 255, 191);
    }
   
}